header(class="d-flex align-items-center justify-content-between p-2 bg-info")
    div.logo
      a(href="/")
        img(src="/static/img/touiteur.png" width="40px")
      if signed
        input(type="text" aria-owns="owned_listbox" class="form-control d-inline w-75 ms-2" name="findUsers" id="userFinder" placeholder="Chercher un profil")
        ul.searchItemsContainer#owned_listbox
    include ./navbar