nav
if signed
    div(class="cnx-menu")
        a(href="/touites/addTouites" class="text-white text-decoration-none p-2") Créer un touite
        a(href="/users/signout" class="text-white text-decoration-none p-2") Se deconnecter
else
    div(class="cnx-menu")
        a(href="/users/signin" class="text-white text-decoration-none p-2") Se connecter
        a(href="/users/signup" class="text-white text-decoration-none p-2") S'inscrire