h1 Profile utilisateur
div.position-relative.h-75
  img(src="#" class="d-block mx-auto" style="height:100px; width: 100px; border-radius: 50%")
  h3.text-center=information
  .position-absolute.bottom-0.d-flex.justify-content-between.w-100.px-3
    h5 Touites
    h5 Follow
