extends ../layout
block content
 .container
  .row.p-3
    .col-6.p-3.bg-light(style="min-height:300px")  
        .profile-container
        include ../includes/user-profile
    .col-6.p-3(style="min-height=300px")  
        include ../includes/touites-list